.buttons {
  margin-block-start: var(--spacing-s);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  & > * {
    flex-shrink: 0;
  }
}

.buttons--centered {
  justify-content: center;
}

@property --button-gradient-deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: -90deg;
}

.button {
  --button-text: var(--color-text);
  --button-surface: var(
    --section-surface-light,
    oklch(from var(--color-text) l c h / 0.1)
  );
  --button-text-hover: var(--color-brand);
  --button-surface-hover: var(--section-surface-dark, var(--color-surface));
  --button-radius: var(--border-radius, none);
  --button-border-size: 0.25rem;
  --button-border-color: oklch(from var(--color-text) l c h / 0.3);
  --button-border: var(--button-border-size) solid var(--button-border-color);
  --button-fs: var(--fs-responsive-s);
  --rainbow: var(--color-peach), var(--color-brand), var(--color-brand-1),
    var(--color-sky), var(--color-mandarine), var(--color-peach);
  --button-gradient-deg: -90deg;
  --button-shadow-blur: 1rem;
  --button-shadow-opacity: 10%;
  --button-animation-duration: 2s;
  --button-spacing-inline: var(--spacing-default);
  --button-spacing-block: var(--spacing-s);

  text-align: center;
  font-size: var(--button-fs);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  color: var(--button-text);
  padding-inline: var(--button-spacing-inline);
  padding-block: var(--button-spacing-block);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-out;
  border: var(--button-border-size) solid var(--button-border-color);

  backdrop-filter: blur(10px) saturate(200%);
  background-color: var(--button-color-surface-light);

  position: relative;
  isolation: isolate;

  &:hover,
  &:focus-visible {
    --button-shadow-opacity: 10%;
    --button-text: var(--button-text-hover);
    --button-surface: var(--button-surface-hover);
    --button-border-color: transparent;

    animation: border-ani var(--button-animation-duration) infinite linear;
    background: linear-gradient(var(--button-surface-hover) 0 0) padding-box,
      conic-gradient(from var(--button-gradient-deg) in oklch, var(--rainbow))
        border-box;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    z-index: -1;
    background: var(--button-surface);
    inset: 0.25rem;
    filter: blur(var(--button-shadow-blur));
  }

  &::after {
    z-index: -2;
    inset: -1.5rem;
    background: conic-gradient(from var(--button-gradient-deg), var(--rainbow));
    filter: blur(var(--button-shadow-blur));
    opacity: var(--button-shadow-opacity);
  }
}

@keyframes border-ani {
  100% {
    --button-gradient-deg: 270deg;
  }
}

.button--icon-only {
  --button-icon-size-l: 4rem;
  --button-spacing-block: var(--spacing-s);
  --button-spacing-inline: var(--spacing-s);
  svg {
    fill: currentColor;
    width: var(--button-icon-size-l);
    height: var(--button-icon-size-l);
  }
  &:focus-visible,
  &:hover {
    transform: scale(1.1);
  }
}
