.buttons {
  margin-block-start: var(--spacing-s);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  & > * {
    flex-shrink: 0;
  }
}

.button {
  --button-text: var(--color-surface, Canvas);
  --button-surface: var(--color-text, CanvasText);
  --button-surface-hover: var(--color-darkest);
  --button-text-hover: var(--color-brand);
  --button-radius: var(--border-radius, none);
  --button-fs: var(--fs-responsive-s);
  text-align: center;
  font-size: var(--button-fs);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  background-color: var(--button-surface);
  color: var(--button-text);
  padding-inline: var(--spacing-default);
  padding-block: var(--spacing-s);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-out;

  &:hover,
  &:focus-visible {
    --button-text: var(--button-text-hover);
    --button-surface: var(--button-surface-hover);
    transform: rotate(-3deg);
  }
}

.button-icon {
  transition: transform 0.2s ease-out;

  svg {
    width: 5rem;
  }
  &:focus-visible,
  &:hover {
    transform: scale(1.1);
  }
}

.button-round {
  --button-radius: 3rem;
  --button-border: 0.25rem solid var(--button-color-border);
  --button-color-border: oklch(from var(--color-text) l c h / 0.4);
  --button-color-surface-light: oklch(from var(--color-text) l c h / 0.3);
  --button-color-text: var(--color-lightest);

  width: clamp(4rem, 1.57rem + 5.063vw, 6rem);
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border-radius: var(--button-radius);
  overflow: clip;
  backdrop-filter: blur(10px) saturate(200%);
  background-color: oklch(from var(--button-color-surface-light) l c h / 0.3);
  border: var(--button-border);
  color: var(--button-color-text);
  transition: var(--transition-default);

  svg {
    fill: currentColor;
    width: 3rem;
    height: 3rem;
  }

  &:focus-visible,
  &:hover {
    --button-color-border: var(--color-text);
    transform: rotate(-360deg);
  }
}
