.hero {
  --transition-duration: 15s;
  padding-block-start: var(--spacing-default);
  display: grid;
  grid-template: "container";
  height: 100vh;
  overflow: clip;
  padding: 0;

  & > * {
    grid-area: container;
  }

  .hero__image-wrap {
    z-index: -1;
    position: relative;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .logo,
  .cta {
    margin: var(--spacing-default);
  }

  .logo {
    max-width: 40rem;
    filter: var(--dropshadow);
    align-self: center;
  }

  .cta {
    align-self: flex-end;
    justify-self: center;
    z-index: 2;
    box-sizing: padding-box;
  }
}
