.navigation-wrap {
  --navigation-radius: 3rem;
  --navigation-border: 0.25rem solid var(--navigation-color-border);
  --navigation-color-border: oklch(from var(--color-text) l c h / 0.4);
  --navigation-color-surface-light: oklch(from var(--color-text) l c h / 0.3);

  position: fixed;
  top: 0;
  max-width: var(--page-max-width);
  display: grid;
  z-index: 300;
  border-radius: var(--navigation-radius);
  overflow: clip;
  backdrop-filter: blur(10px) saturate(200%);
  background-color: oklch(from var(--color-surface) l c h / 0.3);
  border: var(--navigation-border);
  margin: var(--spacing-xs);

  &:has(:focus-visible),
  &:has(button:hover) {
    --navigation-color-border: var(--color-text);
  }

  button {
    width: clamp(4rem, 1.57rem + 5.063vw, 6rem);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: contain;
      transition: var(--transition-default);
      transform: rotate(20deg);
    }

    &:focus-visible {
      background-color: var(--navigation-color-surface-light);
    }
  }

  &:has(.navigation--hidden) {
    background-color: var(--navigation-color-surface-light);

    img {
      transform: rotate(0deg);
    }
  }

  .navigation {
    --navigation-color-text: var(--color-lightest);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: var(--spacing-s);
    transition: var(--transition-default);
    transform-origin: top;

    a {
      color: var(--navigation-color-text);
      font-size: var(--fs-responsive-s);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: var(--letter-spacing);
      width: min-content;

      &:focus-visible,
      &:hover {
        color: var(--color-brand);
      }
    }
  }

  .navigation--hidden {
    visibility: hidden;
    margin: 0;
    height: 0;
    width: 0;
    transform: scale(0);
  }
}

.back-to-top {
  position: sticky;
  bottom: var(--spacing-xs);
  z-index: 200;
  margin-block-start: var(--spacing-default);
  margin-inline-end: var(--spacing-xs);
  width: max-content;
  margin-inline-start: auto;
  overflow: clip;
}

.button-round {
  --button-radius: 3rem;
  --button-border: 0.25rem solid var(--button-border-color);
  --button-border-color: oklch(from var(--color-text) l c h / 0.4);
  --button-color-surface-light: oklch(from var(--color-text) l c h / 0.3);
  --button-color-text: var(--color-lightest);

  width: clamp(4rem, 1.57rem + 5.063vw, 6rem);
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: clip;
  border-radius: var(--button-radius);
  backdrop-filter: blur(10px) saturate(200%);
  background-color: oklch(from var(--button-color-surface-light) l c h / 0.3);
  border: var(--button-border);
  color: var(--button-color-text);
  transform: rotate(0deg);
  animation: rotate linear forwards;
  animation-timeline: scroll();

  &:focus-visible,
  &:hover {
    --button-border-color: var(--color-text);
  }
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}

@keyframes jump {
  to {
    transform: translateY(-0.25rem);
  }
}
