.scroller {
  --direction: forwards;
  --duration: 25s;
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;

  @media (prefers-reduced-motion: no-preference) {
    overflow-x: hidden;
  }

  @media (width > 787px) {
    aspect-ratio: 3/1;
  }
}

[data-direction="right"] {
  --direction: reverse;
}

.scroller__inner {
  width: max-content;
  display: flex;

  @media (prefers-reduced-motion: no-preference) {
    animation: scroll var(--duration, 40s) var(--direction) linear infinite;
  }
}

.scroller__item {
  margin: 0;
  width: max-content;
  min-width: 15rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}
