:root {
  --color-brand: oklch(0.8355 0.1869 81.27);
  --color-brand-1: oklch(83.335% 0.25927 140.452);
  --color-mandarine: oklch(0.6579 0.2313 38.67);
  --color-peach: oklch(0.6549 0.2613 356.94);
  --color-plum: oklch(0.4611 0.2207 337.21);
  --color-aubergine: oklch(0.3721 0.1948 316.08);
  --color-mangostan: oklch(0.3192 0.1223 10.08);
  --color-doom: oklch(0.4572 0.1766 17.49);
  --color-sky: oklch(0.6627 0.1829 237.16);
  --color-whale: oklch(0.3977 0.0922 213.38);
  --color-avocado: oklch(0.3654 0.0311 155.14);
  --color-darkest: #000;
  --color-lightest: #fff;
  --color-brand-80: oklch(from var(--color-brand) 0.8 c h);
  --color-brand-50: oklch(from var(--color-brand) 0.5 c h);
  --color-hover: var(--color-brand);
  --color-link: var(--color-brand-80);
  --color-text: var(--color-lightest);
  --color-surface: var(--color-darkest);
  --dropshadow: drop-shadow(
    10px 10px 15px oklch(from var(--color-surface) l c h / 0.9)
  );
  --spacing-default: clamp(1rem, 0.2rem + 3.2vw, 3rem);
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --border-radius: 30rem;
  --border-radius-s: 2rem;
  --transition-default: transform 0.2s ease-out;
  --page-max-width: 1680px;
  color-scheme: dark;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    & {
      scroll-behavior: smooth;
    }
  }
}

body {
  background-color: var(--color-surface);
  max-width: var(--page-max-width);
  margin-inline: auto;
}

button,
a {
  color: var(--color-link);
  text-decoration: none;

  &:focus-visible,
  &:hover {
    color: var(--color-hover);
  }

  &:focus-visible {
    border: unset;
    outline: unset;
  }
}

main {
  position: relative;
}

.section {
  --section-surface: transparent;
  --section-surface-dark: oklch(from var(--section-surface) calc(l * 0.9) c h);
  --section-surface-light: oklch(from var(--section-surface) calc(l * 1.2) c h);
  --section-contrast: var(--color-brand);
  color: inherit;
  padding-block: calc(4 * var(--spacing-default));
  background-color: var(--section-surface);
  justify-content: center;
  overflow: clip;
}

.section-title {
  color: var(--section-contrast);
}

.section--vata {
  --section-surface: var(--color-aubergine);
  padding-block-start: var(--spacing-default);
  background-image: linear-gradient(
    var(--color-doom),
    var(--section-surface),
    var(--color-whale)
  );
}

.section--pitta {
  --section-surface: var(--color-doom);
  padding-block: 0;
}

.section--kapha {
  --section-surface: var(--color-aubergine);
  background-image: linear-gradient(
    var(--color-mandarine),
    var(--section-surface) 8%,
    var(--color-peach),
    var(--section-surface)
  );
}

.section--retreat {
  --section-surface: var(--color-mandarine);

  background-image: linear-gradient(
    var(--color-sky),
    var(--color-aubergine),
    var(--color-plum),
    var(--section-surface)
  );
}

.section--yoga {
  --section-surface: var(--color-aubergine);
  padding-block-start: 0;
  background-image: linear-gradient(
    var(--section-surface),
    var(--color-mangostan)
  );
}

footer {
  display: flex;
  align-items: center;
  padding-block-start: var(--spacing-default);
  padding-block-end: calc(var(--spacing-default) * 2);
  padding-inline: var(--spacing-default);

  nav {
    display: flex;
    gap: var(--spacing-s);
    flex-wrap: wrap;
  }
}
