.img-wrap--cover {
  z-index: -1;
  position: relative;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid-wrap {
  margin-inline: var(--spacing-default);
}

.ratio-3-1 {
  aspect-ratio: 3 / 1;
}

.img-border-1 {
  border-radius: 10rem 0 10rem 0;
}
