.grid-wrap {
  margin-inline: var(--spacing-default);
}

.grid {
  --grid-min-width: 300px;
  --grid-gap: var(--spacing-default);
  --grid-type: auto-fit;
  display: grid;
  align-items: center;
  gap: var(--grid-gap);
  grid-template-columns: repeat(
    var(--grid-type),
    minmax(min(var(--grid-min-width), 100%), 1fr)
  );
}

.img-wrap--cover {
  z-index: -1;
  position: relative;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ratio-3-1 {
  aspect-ratio: 3 / 1;
}

.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

.img-border-1 {
  border-radius: 10rem 0 10rem 0;
  aspect-ratio: 4 / 3;
  overflow: clip;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-ratio-4-3-contain {
  aspect-ratio: 4 / 3;
  overflow: clip;
  object-fit: contain;
}

.img-ratio-1-contain {
  aspect-ratio: 1;
  overflow: clip;
  object-fit: contain;
}

.spacer {
  margin-block-start: var(--spacing-default);
}
